<mat-card-title fxLayout="row" fxLayoutAlign="space-between">
  <div>Summary by tags</div>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="radio-group"
    fxLayout="row"
    [(ngModel)]="type">
    <mat-radio-button class="mat-subheading-1 radio-button" value="income">
      Income
    </mat-radio-button>
    <mat-radio-button class="mat-subheading-1" value="expense">
      Expense
    </mat-radio-button>
  </mat-radio-group>
</mat-card-title>

<div *mobxAutorun>
  <div style="display: block" *ngIf="tagSums">
    <canvas baseChart
            [datasets]="tagSums.chartData"
            [labels]="tagSums.chartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [colors]="chartColors"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
